* {
  box-sizing: border-box; 
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

body{
  background-color: #f8ffe5;
}

p{
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.class-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
  
  
img{
  width: 100%;
}
section{
width :100%;

}
.active {
  opacity: 0;
}
.visible{
  opacity: 1;
}


